.table-custom {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.table-custom th {
    background-color: var(--color-primario);
    color: black;
    text-align: left;
    font-weight: 500;
    padding: 12px;
}

.table-custom td {
    padding: 10px 12px;
    text-align: left;
    border-bottom: 1px solid var(--color-secundario);
}

.table-custom tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.btn {
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.btn-update {
    color: black;
}

.btn-update:hover {
    color: blue;
}

.btn-delete {
    color: black;
}

.btn-delete:hover {
    color: red;
}
