@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primario: #70DFA7;
    --color-secundario: #D4D4D4;
    --color-fondo: #ffffff;
}

/* Contenedor principal */
.container {
    padding: 20px;
    max-width: 80%; /* Reduce el ancho del contenido */
}

/* Responsive: Eliminar margen si la sidebar se oculta */
@media (max-width: 768px) {
    .container {
        margin-left: 0;
        max-width: 100%;
    }
}

/* Estilos de la tabla */
.table-custom {
    width: 80%; /* Reduce el ancho de la tabla */
    max-width: 800px; /* Evita que sea demasiado grande */
    margin: auto; /* Centra la tabla */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
}

.boreder-one {
    border-top-left-radius: 10px;
}

.border-two {
    border-top-right-radius: 10px;
}

.table-custom td {
    max-width: 300px; /* Reduce aún más el ancho */
    padding: 12px 15px;
    text-align: center;
    word-wrap: break-word;
}

.table-custom th {
    background-color: var(--color-primario) !important;
    color: #3f4348;
}

/* Estilo para el botón de eliminar */
.btn-delete {
    background-color: #e5e2e2 !important;
    border: 1px solid #ddd;
    color: #d9534f;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease;
}

.btn-delete:hover {
    opacity: 0.8;
}

.btn-delete svg {
    fill: #d9534f;
}

/* Estilo para el botón de actualizar */
.btn-update {
    margin-inline: 10px;
    background-color: #e5e2e2 !important;
    border: 1px solid #ddd;
    color: #4fb2e1;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease;
}

.btn-update:hover {
    opacity: 0.8;
}

.btn-update svg {
    fill: #4fb2e1;
}
