@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primario: #70DFA7;
    --color-secundario: #D4D4D4;
    --color-fondo: #ffffff;
}



.table-custom {
    margin-left: 127px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
}

.boreder-one{
    border-top-left-radius: 10px;
}

.border-two{
    border-top-right-radius: 10px;
}



.table-custom td {
    padding: 12px 15px;
    text-align: center;
}

.table-custom th {
    background-color: var(--color-primario) !important;
    color: #3f4348;
}



/*Acciones*/
/* Estilo para el botón de eliminar */
.btn-delete {
    background-color: #e5e2e2 !important; /* Fondo blanco */
    border: 1px solid #ddd; /* Borde sutil */
    color: #d9534f; /* Color rojo para el icono */
    padding: 10px 15px; /* Espaciado interno */
    font-size: 18px; /* Tamaño del icono */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; /* Sombra ligera */
    transition: all 0.3s ease; /* Transición suave para el hover */
}

.btn-delete:hover {
    opacity: 0.8; /* Reduce la opacidad al pasar el ratón */
}

.btn-delete svg {
    fill: #d9534f; /* Icono en color rojo */
}



.btn-update {
    margin-inline: 10px;
    background-color: #e5e2e2 !important; /* Fondo blanco */
    border: 1px solid #ddd; /* Borde sutil */
    color: #4fb2e1; /* Color rojo para el icono */
    padding: 10px 15px; /* Espaciado interno */
    font-size: 18px; /* Tamaño del icono */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; /* Sombra ligera */
    transition: all 0.3s ease; /* Transición suave para el hover */
}

.btn-update :hover {
    opacity: 0.8; /* Reduce la opacidad al pasar el ratón */
}

.btn-update  svg {
    fill: #4fb2e1; /* Icono en color rojo */
}
