@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --color-primario: #70DFA7;
    --color-primario-fuerte: hsl(150, 52%, 59%);
    --color-secundario: #D4D4D4;
    --color-fondo: #ffffff;
    --color-texto: #333;
}



.sidebar {
    font-family: "Poppins", sans-serif !important;
    font-size: 15px;
    position: fixed; 
    top: 10vh; 
    left: 0;
    width: 250px; 
    height: 100vh; 
    background-color: #ffffff; 
    padding-top: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar .nav-link {
    display: block; 
    width: 100%;
    text-decoration: none;
}

.sidebar .nav-content {
    display: flex;
    align-items: center;
    color: #333;
    font-weight: bold;
    padding: 20px ;
    width: 100%;
    border-radius: 10px; 
    transition: background-color 0.3s ease, padding 0.3s ease;
}

.sidebar .nav-link:hover .nav-content {
    background-color: #70DFA7; 
    padding-left: 40px; 
    padding-right: 40px; 
}

.sidebar .nav-content svg {
    margin-right: 15px; 
}


.dropdown{
    background-color: transparent !important;
    border-color: transparent !important;
    font-size: large !important;
    color: black !important;
    font-size: large !important;
    margin-top: 8px;
    font-weight: 400 !important;
}


@media (max-height : 695px) {
    .sidebar .nav-content {
        margin-top: 40px;
    }
}

@media (max-height : 550px) {
    .sidebar .nav-content {
        margin-top: 10px;
    }
}




/*Navbar*/
/* Estilos para la navbar en pantallas pequeñas */
/* Estilos para la navbar en pantallas pequeñas */
/* Estilos para la navbar en pantallas pequeñas */
.mobile-navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    font-family: "Poppins", sans-serif;
    z-index: 1000;

}

/* Estilos para el botón de toggle */
.mobile-navbar .navbar-toggler {
    border: none;
    padding: 8px;
    display: none; /* Oculta el botón de toggle por defecto */
}



/* Estilos para los enlaces del menú */
.mobile-navbar .nav-link {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    color: #333;
    padding: 8px 12px;
    transition: color 0.3s ease;
}

.mobile-navbar .nav-link:hover {
    color: var(--color-primario);
}


@media (max-width: 780px) {
    .mobile-navbar .nav-link{
        font-size: small !important;
        align-items: center;
        flex-direction: column;
    }
    #basic-navbar-nav{
       justify-content: start;
    }
}
