@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --color-primario: #70DFA7;
    --color-primario-fuerte: hsl(150, 52%, 59%);
    --color-primario-claro: hsl(150, 71%, 76%);
    --color-secundario: #D4D4D4;
    --color-fondo: #ffffff;
    --color-texto: #333;
}
/* Estilos generales */
.login-page {
  background-color: #f8f9fa;
  height: 100vh;
  width: 100vh;
}

.login-container {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
}

.login-form {
  padding: 40px;
}

.login-title {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
}

/* Campos del formulario */
.form-control {
  border: 1px solid #ced4da !important;
  border-radius: 5px;
  padding: 10px;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: var(--color-primario) !important;
  box-shadow: 0 0 5px rgba(112, 223, 167, 0.5);
}

/* Botón de Iniciar Sesión */
.btn-login {
  background-color: var(--color-primario) !important;
  border: none !important;
  color: black !important;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #5ac896 !important;
}

/* Enlaces */
.link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: #70DFA7;
}

.text-link {
  color: #333;
  opacity: 0.7;
}

/* Banner (Parte Derecha) */
.login-banner {
  background-color: var(--color-primario-claro);
  display: flex;
  align-items: center;
  justify-content: center;
}

.volver-btn{
  background-color: transparent !important;
  border-color: transparent !important;
  color: black !important;
}

.volver-btn:hover{
  color: #5ac896 !important;
}

