:root {
    --color-primario: #70DFA7;
    --color-primario-fuerte: hsl(150, 52%, 59%);
    --color-secundario: #D4D4D4;
    --color-fondo: #ffffff;
    --color-texto: #333;
}

/*Clavar la paginacion*/

.custom-pagination {
    display: flex;
    overflow: visible;
    align-items: center;
}

/*Para subir css*/

.custom-pagination .page-link {
    color: var(--color-texto);
    background-color: transparent;
    border: none;
    padding: 6px 10px;
    transition: color 0.3s ease;
}

.custom-pagination .page-link:hover {
    color: #ffffff;
    background-color: transparent;
}

.custom-pagination .page-item.active .page-link {
    background-color: var(--color-fondo);
    color: var(--color-primario-fuerte);
    font-weight: bold;
    background-color: transparent;
}

.custom-pagination .page-item:first-child .page-link,
.custom-pagination .page-item:last-child .page-link {
    display: flex;
    align-items: center;
    background-color: var(--color-primario);
    gap: 6px;
}

.custom-pagination .page-item.disabled .page-link {
    color: white;
    background-color: white;
}
