@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --color-primario: #70DFA7;
    --color-secundario: #D4D4D4;
    --color-fondo: #ffffff;
    --color-texto: #333;
}

body {
    font-family: "Poppins", sans-serif;

    color: var(--color-texto);
}

/* Contenedor principal */
.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
}

/* Título alineado a la izquierda */
h1.title {
    color: black;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: left;
}

/* Tabla personalizada */
.table-custom {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Encabezados */
.table-custom th {
    background-color: var(--color-primario);
    color: black;
    text-align: left;
    font-weight: 500;
    padding: 12px;
}

/* Celdas */
.table-custom td {
    padding: 10px 12px;
    text-align: left;
    border-bottom: 1px solid var(--color-secundario);
}


/* Bordes redondeados en esquinas superiores */
.table-custom .boreder-one {
    border-top-left-radius: 8px;
}

.table-custom .border-two {
    border-top-right-radius: 8px;
}

/* Estilos de botones */
.btn {
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}


.container-button{

}

/* Botón aceptar */
.first-btn {
    color: black;
}

.first-btn:hover {
    color: green;
}

.btn-up{
    color: black;
}

.btn-up:hover {
    color: blue;
}

/* Botón rechazar */
.second-btn {
    color: black;
}

.second-btn:hover {
    color: red;
}
